header {
    display: flex;
    justify-content: center;
    padding: 1em;
    align-items: center;
}


body {
    background-color: rgb(240, 119, 232);
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

title{
    color: rgb(0,0,0);
    font-size: 2em;
}

h1, p {
    color: rgb(0, 0, 0);
    font-size: 1em;
}

nav {
    background-color: rgb(181, 178, 179);
    display: flex;
    justify-content: space-between;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-right: 1em;
}