body {
    background-color:cyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 200;
    color:#EE23EE; 
    
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    margin-top: 60px;
    color:#EE23EE;
}

nav {
    position: fixed;
    top: 0;
    background-color:seashell;
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav a {
    color:#EE23EE;
    text-decoration: none;
    margin-right: 10px;
    display: block;
    padding: 0;
}

