body {
    background-color: #abdbe3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: 200;;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 60px;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #EE23EE;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    height: 40px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
}

