
/* constant navigation menu on top of page */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #d726e0;
    border: solid #a111a8;
    padding: 10px;
}

head {
    text-align: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
}

.nav-item {
    margin-left: 20px;
}
/* constant background settings */
body {
    background-color: #b49cb5;
    font-family: Zapf Chancery, cursive;
}
.box {
    border: solid black;
    padding: 10px;
}
ul {
    border: solid black;
    padding: 10px;
    list-style-type: none;
}
/* Constant headings for each webpage, including homepage */
h1 {
    font-family: florence, cursive;
    font-size: 36px;
    font-weight:bold;
    color:black;
    text-align: center; 
    
}
/* constant footer settings */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}
footer p {
    color: black;
    text-align: center;
    font-size: 9px;
}
/* homepage specifics */
.homepage {
    font-size: 48px;
}
.intro {
    font-size: 36px;
    text-align: center;
}

.introparagraph {
    font-family: coronetscript, cursive;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color:black;
}
/* headers for the drink display */
h2, h3, h4, h5 {
    font-family: parkavenue, cursive;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align:left
}
/* text within headers for drink displays */
h2 p {
    text-align: left;
    font-size: 12px;
    white-space: pre;
}

h3 p {
    text-align: left;
    font-size: 12px;
    white-space: pre;
}

h4 p {
    text-align: left;
    font-size: 12px;
    white-space: pre;
}
/* general image settings */
.container {
    overflow: hidden;
}

img {
    float: right;
    width: 50%;
}

/* display-all settings */

